# =========================
# DATASETS (DO NOT PUSH)
# =========================
*.csv
*.json
*.parquet
*.tsv
data/
datasets/
dataset/
*.jpg
*.jpeg
*.png
*.webp
*.jfif

# =========================
# MODELS (DO NOT PUSH)
# =========================
*.h5
*.pt
*.pth
*.pkl
*.safetensors
models/
checkpoints/

# =========================
# PYTHON / JUPYTER
# =========================
.venv/
__pycache__/
.ipynb_checkpoints/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db
*.log
*.tmp 